@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'Metropolis';
		src: url(../fonts/Metropolis-Regular.woff) format('woff');
	}
}

.active {
	background-color: #db3022;
	color: #fff;
}

.dialog {
	width: 450px;
	border-radius: 8px;
}

.checkbox {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.checkbox:checked {
	background-color: #db3022;
	border: none;
}

.checkbox:checked::before {
	content: '✔';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-size: 12px; /* Sesuaikan ukuran font sesuai kebutuhan */
}

.dropdown[open] > summary > .dropdown-arrow {
	transform: rotate(180deg);
	color: #222;
}
