@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Metropolis';
        src: url(../fonts/Metropolis-Regular.woff) format('woff');
    }
}

.active {
    background-color: #DB3022;
    color: #fff;
  }
