# Binary and Compiled Files
main
*.exe

# Vendor Directory
vendor/

# IDE and Editor Configuration Files
.vscode/
.idea/

# Log Files
*.log

# Common Configuration Files
.env

# node_modules Directory
node_modules/

# Executable or Temporary Files
*.out

# Build Output Directories
dist/
build/
tmp/
